<!DOCTYPE html>
<html>
<head>
    <title>Order Confirmation</title>
</head>
<body>
    <h2>Dear {{username}},</h2>

    <p>Thank you for your order! We're excited to let you know that your order has been successfully processed and is on its way. Below are the details of your order:</p>

    <h3>Order Details</h3>
    <ul>
        <li><strong>Order Date:</strong> {{order_date}}</li>
    </ul>

    <p><strong>Total Amount:</strong>{{total}}</p>

    <p>If you have any questions or need further assistance, please don't hesitate to contact our customer support team at <a href = "tel:+91 9876543210" >+91 9876543210</a>. We're here to help!</p>

    <p>Thank you for choosing our service. We appreciate and hope you enjoy your purchase.</p>

    <p>Best regards,<br>Lenscares</p>
</body>
</html>